Eel~=0.16.0
gevent~=23.9.1
bottle~=0.12.25
pyparsing~=3.1.1
pyinstaller~=5.13.2
whichcraft~=0.6.1
pip~=21.3.1
wheel~=0.37.1
future~=0.18.3
PyQt6~=6.5.2
cffi~=1.15.1
greenlet~=2.0.2
altgraph~=0.17.3
pycparser~=2.21
pefile~=2023.2.7
setuptools~=60.2.0
colorama~=0.4.6